// Body
$body-bg:                black;
$body-color:             lime;

// Typography
$font-family-sans-serif: 'Consolas', sans-serif;
$font-size-base:         0.9rem;
$line-height-base:       1.6;

$link-color:             lime;
$link-decoration:        none;

$card-bg:                #2c2c2c;
